{% extends 'base.html.twig' %}

{% block title %}Index of cereals{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">All cerials</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h1>Index of cereals</h1>

    <ul>
        {% for product in products %}
        <li>
            <a href="{{ path('single_product_show', {'id': product.id}) }}">{{ product.name }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
